link(rel="import" href="../../bower_components/polymer/polymer.html")
link(rel="import" href="../../bower_components/iron-ajax/iron-ajax.html")
link(rel="import" href="../../bower_components/iron-meta/iron-meta.html")
link(rel="import" href="../../bower_components/iron-signals/iron-signals.html")
link(rel="import" href="../../bower_components/glad-prelude-ls/glad-prelude-ls.html")

dom-module#glad-resource
  template
    iron-meta#meta(type="[[_meta_type]]")
    iron-signals#signals

